In [15]:
import pandas as pd
import simfin as sf
import numpy as np

In [16]:
# Set your SimFin+ API-key for downloading data.
sf.set_api_key('QQ246dtyIHWxUuTpuJmuKgQkHBW7JYOl')

# Set the local directory where data-files are stored.
# The directory will be created if it does not already exist.
sf.set_data_dir('~/simfin_data/')

# Download the data from the SimFin server and load into a Pandas DataFrame.
df_ratios = sf.load_derived(variant='annual', market='us')

# Print the first rows of the data.
print(df_ratios.head())

Dataset "us-derived-annual" on disk (2 days old).
- Loading from disk ... Done!
                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2008-10-31      45846      USD         2008            FY   2008-12-19
       2009-10-31      45846      USD         2009            FY   2009-12-21
       2010-10-31      45846      USD         2010            FY   2010-12-20
       2011-10-31      45846      USD         2011            FY   2011-12-16
       2012-10-31      45846      USD         2012            FY   2012-12-20

                   Restated Date        EBITDA  Total Debt  Free Cash Flow  \
Ticker Report Date
A      2008-10-31     2010-12-20  9.960000e+08  2125000000     799000000.0
       2009-10-31     2011-12-16  2.090000e+08  2905000000     182000000.0
       2010-10-31     2012-12-20  7.680000e+08  3691000000     610000000.0
       2011-10-31     2013-12-19  1.324000e+09  2185000000     950000000.0
       2012-10-31     2014-12-22  1.420000e+09  2362000000     940000000.0

                    Gross Profit Margin  ...  Sales Per Share  \
Ticker Report Date                       ...
A      2008-10-31               0.55352  ...         15.90634
       2009-10-31               0.51149  ...         12.95087
       2010-10-31               0.53821  ...         15.68876
       2011-10-31               0.53348  ...         19.06340
       2012-10-31               0.52552  ...         19.70690

                    Equity Per Share  Free Cash Flow Per Share  \
Ticker Report Date
A      2008-10-31            7.04959                   2.20110
       2009-10-31            7.24277                   0.52601
       2010-10-31            9.30259                   1.75793
       2011-10-31           12.41499                   2.73775
       2012-10-31           14.89080                   2.70115

                    Dividends Per Share  Piotroski F-Score  \
Ticker Report Date
A      2008-10-31                   NaN                NaN
       2009-10-31                   NaN                NaN
       2010-10-31               0.00000                7.0
       2011-10-31               0.00000                7.0
       2012-10-31               0.29885                5.0

                    Return On Invested Capital  \
Ticker Report Date
A      2008-10-31                      0.12207
       2009-10-31                     -0.00478
       2010-10-31                      0.08430
       2011-10-31                      0.13542
       2012-10-31                      0.14135

                    Cash Return On Invested Capital  Dividend Payout Ratio  \
Ticker Report Date
A      2008-10-31                           0.14074                    NaN
       2009-10-31                           0.02804                    NaN
       2010-10-31                           0.07518                 0.0000
       2011-10-31                           0.12712                 0.0000
       2012-10-31                           0.10570                 0.0902

                    Net Debt / EBITDA  Net Debt / EBIT
Ticker Report Date
A      2008-10-31             0.69880          0.87547
       2009-10-31             1.97129          8.76596
       2010-10-31             1.35677          1.84099
       2011-10-31            -1.01360         -1.25303
       2012-10-31             0.00775          0.00983

[5 rows x 30 columns]

In [17]:
# Display dataframe for financial ratios dataset
pd.DataFrame(df_ratios)

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2008-10-31      45846      USD         2008            FY   2008-12-19
       2009-10-31      45846      USD         2009            FY   2009-12-21
       2010-10-31      45846      USD         2010            FY   2010-12-20
       2011-10-31      45846      USD         2011            FY   2011-12-16
       2012-10-31      45846      USD         2012            FY   2012-12-20
...                      ...      ...          ...           ...          ...
ZYXI   2016-12-31     171401      USD         2016            FY   2017-04-18
       2017-12-31     171401      USD         2017            FY   2018-02-28
       2018-12-31     171401      USD         2018            FY   2019-02-26
       2019-12-31     171401      USD         2019            FY   2020-02-27
       2020-12-31     171401      USD         2020            FY   2021-02-25

                   Restated Date        EBITDA  Total Debt  Free Cash Flow  \
Ticker Report Date
A      2008-10-31     2010-12-20  9.960000e+08  2125000000     799000000.0
       2009-10-31     2011-12-16  2.090000e+08  2905000000     182000000.0
       2010-10-31     2012-12-20  7.680000e+08  3691000000     610000000.0
       2011-10-31     2013-12-19  1.324000e+09  2185000000     950000000.0
       2012-10-31     2014-12-22  1.420000e+09  2362000000     940000000.0
...                          ...           ...         ...             ...
ZYXI   2016-12-31     2018-02-28  1.075000e+06      254000             NaN
       2017-12-31     2019-02-26  9.230000e+06      354000             NaN
       2018-12-31     2019-02-26  1.081800e+07     2967000             NaN
       2019-12-31     2021-02-25  1.184400e+07           0       8949000.0
       2020-12-31     2021-02-25  1.182100e+07           0       -304000.0

                    Gross Profit Margin  ...  Sales Per Share  \
Ticker Report Date                       ...
A      2008-10-31               0.55352  ...         15.90634
       2009-10-31               0.51149  ...         12.95087
       2010-10-31               0.53821  ...         15.68876
       2011-10-31               0.53348  ...         19.06340
       2012-10-31               0.52552  ...         19.70690
...                                 ...  ...              ...
ZYXI   2016-12-31               0.73582  ...          0.38702
       2017-12-31               0.79434  ...          0.66245
       2018-12-31               0.81082  ...          0.89270
       2019-12-31               0.80617  ...          1.27434
       2020-12-31               0.78262  ...          2.15059

                    Equity Per Share  Free Cash Flow Per Share  \
Ticker Report Date
A      2008-10-31            7.04959                   2.20110
       2009-10-31            7.24277                   0.52601
       2010-10-31            9.30259                   1.75793
       2011-10-31           12.41499                   2.73775
       2012-10-31           14.89080                   2.70115
...                              ...                       ...
ZYXI   2016-12-31           -0.10794                       NaN
       2017-12-31            0.14110                       NaN
       2018-12-31            0.26235                       NaN
       2019-12-31            0.55326                   0.25079
       2020-12-31            1.52607                  -0.00816

                    Dividends Per Share  Piotroski F-Score  \
Ticker Report Date
A      2008-10-31                   NaN                NaN
       2009-10-31                   NaN                NaN
       2010-10-31               0.00000                7.0
       2011-10-31               0.00000                7.0
       2012-10-31               0.29885                5.0
...                                 ...                ...
ZYXI   2016-12-31                   NaN                8.0
       2017-12-31               0.00000                8.0
       2018-12-31                   NaN                3.0
       2019-12-31               0.06339                5.0
       2020-12-31                   NaN                3.0

                    Return On Invested Capital  \
Ticker Report Date
A      2008-10-31                      0.12207
       2009-10-31                     -0.00478
       2010-10-31                      0.08430
       2011-10-31                      0.13542
       2012-10-31                      0.14135
...                                        ...
ZYXI   2016-12-31                     -0.01951
       2017-12-31                      1.40126
       2018-12-31                      0.77861
       2019-12-31                      0.50927
       2020-12-31                      0.14622

                    Cash Return On Invested Capital  Dividend Payout Ratio  \
Ticker Report Date
A      2008-10-31                           0.14074                    NaN
       2009-10-31                           0.02804                    NaN
       2010-10-31                           0.07518                0.00000
       2011-10-31                           0.12712                0.00000
       2012-10-31                           0.10570                0.09020
...                                             ...                    ...
ZYXI   2016-12-31                               NaN                    NaN
       2017-12-31                               NaN                0.00000
       2018-12-31                               NaN                    NaN
       2019-12-31                           0.38774                0.23831
       2020-12-31                          -0.00490                    NaN

                    Net Debt / EBITDA  Net Debt / EBIT
Ticker Report Date
A      2008-10-31             0.69880          0.87547
       2009-10-31             1.97129          8.76596
       2010-10-31             1.35677          1.84099
       2011-10-31            -1.01360         -1.25303
       2012-10-31             0.00775          0.00983
...                               ...              ...
ZYXI   2016-12-31             0.00651          0.01094
       2017-12-31            -0.56457         -0.58263
       2018-12-31            -0.66195         -0.69055
       2019-12-31            -1.18541         -1.26875
       2020-12-31            -3.31385         -3.82213

[23487 rows x 30 columns]

In [18]:
# Remove Multi-level index
ratio_df_new = df_ratios.reset_index(level="Ticker")
ratio_df_new = ratio_df_new.reset_index(level="Report Date")
ratio_df_new["unique key"] = ratio_df_new["Ticker"]+ratio_df_new["Publish Date"].astype(str)
ratio_df_new

,Report Date,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,EBITDA,Total Debt,...,Equity Per Share,Free Cash Flow Per Share,Dividends Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Dividend Payout Ratio,Net Debt / EBITDA,Net Debt / EBIT,unique key
0,2008-10-31,A,45846,USD,2008,FY,2008-12-19,2010-12-20,9.960000e+08,2125000000,...,7.04959,2.20110,NaN,NaN,0.12207,0.14074,NaN,0.69880,0.87547,A2008-12-19
1,2009-10-31,A,45846,USD,2009,FY,2009-12-21,2011-12-16,2.090000e+08,2905000000,...,7.24277,0.52601,NaN,NaN,-0.00478,0.02804,NaN,1.97129,8.76596,A2009-12-21
2,2010-10-31,A,45846,USD,2010,FY,2010-12-20,2012-12-20,7.680000e+08,3691000000,...,9.30259,1.75793,0.00000,7.0,0.08430,0.07518,0.00000,1.35677,1.84099,A2010-12-20
3,2011-10-31,A,45846,USD,2011,FY,2011-12-16,2013-12-19,1.324000e+09,2185000000,...,12.41499,2.73775,0.00000,7.0,0.13542,0.12712,0.00000,-1.01360,-1.25303,A2011-12-16
4,2012-10-31,A,45846,USD,2012,FY,2012-12-20,2014-12-22,1.420000e+09,2362000000,...,14.89080,2.70115,0.29885,5.0,0.14135,0.10570,0.09020,0.00775,0.00983,A2012-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23482,2016-12-31,ZYXI,171401,USD,2016,FY,2017-04-18,2018-02-28,1.075000e+06,254000,...,-0.10794,NaN,NaN,8.0,-0.01951,NaN,NaN,0.00651,0.01094,ZYXI2017-04-18
23483,2017-12-31,ZYXI,171401,USD,2017,FY,2018-02-28,2019-02-26,9.230000e+06,354000,...,0.14110,NaN,0.00000,8.0,1.40126,NaN,0.00000,-0.56457,-0.58263,ZYXI2018-02-28
23484,2018-12-31,ZYXI,171401,USD,2018,FY,2019-02-26,2019-02-26,1.081800e+07,2967000,...,0.26235,NaN,NaN,3.0,0.77861,NaN,NaN,-0.66195,-0.69055,ZYXI2019-02-26
23485,2019-12-31,ZYXI,171401,USD,2019,FY,2020-02-27,2021-02-25,1.184400e+07,0,...,0.55326,0.25079,0.06339,5.0,0.50927,0.38774,0.23831,-1.18541,-1.26875,ZYXI2020-02-27
23486,2020-12-31,ZYXI,171401,USD,2020,FY,2021-02-25,2021-02-25,1.182100e+07,0,...,1.52607,-0.00816,NaN,3.0,0.14622,-0.00490,NaN,-3.31385,-3.82213,ZYXI2021-02-25

In [19]:
# Set "Publish Date" column as the new index
ratio_df_new.set_index('Publish Date', inplace=True)
ratio_df_new

,Report Date,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Restated Date,EBITDA,Total Debt,Free Cash Flow,...,Equity Per Share,Free Cash Flow Per Share,Dividends Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Dividend Payout Ratio,Net Debt / EBITDA,Net Debt / EBIT,unique key
Publish Date,,,,,,,,,,,,,,,,,,,,,
2008-12-19,2008-10-31,A,45846,USD,2008,FY,2010-12-20,9.960000e+08,2125000000,799000000.0,...,7.04959,2.20110,NaN,NaN,0.12207,0.14074,NaN,0.69880,0.87547,A2008-12-19
2009-12-21,2009-10-31,A,45846,USD,2009,FY,2011-12-16,2.090000e+08,2905000000,182000000.0,...,7.24277,0.52601,NaN,NaN,-0.00478,0.02804,NaN,1.97129,8.76596,A2009-12-21
2010-12-20,2010-10-31,A,45846,USD,2010,FY,2012-12-20,7.680000e+08,3691000000,610000000.0,...,9.30259,1.75793,0.00000,7.0,0.08430,0.07518,0.00000,1.35677,1.84099,A2010-12-20
2011-12-16,2011-10-31,A,45846,USD,2011,FY,2013-12-19,1.324000e+09,2185000000,950000000.0,...,12.41499,2.73775,0.00000,7.0,0.13542,0.12712,0.00000,-1.01360,-1.25303,A2011-12-16
2012-12-20,2012-10-31,A,45846,USD,2012,FY,2014-12-22,1.420000e+09,2362000000,940000000.0,...,14.89080,2.70115,0.29885,5.0,0.14135,0.10570,0.09020,0.00775,0.00983,A2012-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-18,2016-12-31,ZYXI,171401,USD,2016,FY,2018-02-28,1.075000e+06,254000,NaN,...,-0.10794,NaN,NaN,8.0,-0.01951,NaN,NaN,0.00651,0.01094,ZYXI2017-04-18
2018-02-28,2017-12-31,ZYXI,171401,USD,2017,FY,2019-02-26,9.230000e+06,354000,NaN,...,0.14110,NaN,0.00000,8.0,1.40126,NaN,0.00000,-0.56457,-0.58263,ZYXI2018-02-28
2019-02-26,2018-12-31,ZYXI,171401,USD,2018,FY,2019-02-26,1.081800e+07,2967000,NaN,...,0.26235,NaN,NaN,3.0,0.77861,NaN,NaN,-0.66195,-0.69055,ZYXI2019-02-26
2020-02-27,2019-12-31,ZYXI,171401,USD,2019,FY,2021-02-25,1.184400e+07,0,8949000.0,...,0.55326,0.25079,0.06339,5.0,0.50927,0.38774,0.23831,-1.18541,-1.26875,ZYXI2020-02-27
2021-02-25,2020-12-31,ZYXI,171401,USD,2020,FY,2021-02-25,1.182100e+07,0,-304000.0,...,1.52607,-0.00816,NaN,3.0,0.14622,-0.00490,NaN,-3.31385,-3.82213,ZYXI2021-02-25

In [20]:
# Drop unneceassry columns
    # SimFinID has no relation to stock performance
    # All stock ratios are in US dollars
    # Restated date
    # Dividends Per Share and Dividends Payout Ratio filled with NaN or 0.0
ratio_df_new.drop(columns=['SimFinId', 'Currency', 'Restated Date', 'Dividends Per Share', 'Dividend Payout Ratio'], axis=1, inplace=True)
ratio_df_new

,Report Date,Ticker,Fiscal Year,Fiscal Period,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,Operating Margin,Net Profit Margin,...,"Earnings Per Share, Diluted",Sales Per Share,Equity Per Share,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key
Publish Date,,,,,,,,,,,,,,,,,,,,,
2008-12-19,2008-10-31,A,2008,FY,9.960000e+08,2125000000,799000000.0,0.55352,0.13769,0.12002,...,1.86792,15.90634,7.04959,2.20110,NaN,0.12207,0.14074,0.69880,0.87547,A2008-12-19
2009-12-21,2009-10-31,A,2009,FY,2.090000e+08,2905000000,182000000.0,0.51149,0.01049,-0.00692,...,-0.08960,12.95087,7.24277,0.52601,NaN,-0.00478,0.02804,1.97129,8.76596,A2009-12-21
2010-12-20,2010-10-31,A,2010,FY,7.680000e+08,3691000000,610000000.0,0.53821,0.10397,0.12564,...,1.93768,15.68876,9.30259,1.75793,7.0,0.08430,0.07518,1.35677,1.84099,A2010-12-20
2011-12-16,2011-10-31,A,2011,FY,1.324000e+09,2185000000,950000000.0,0.53348,0.16190,0.15299,...,2.85070,19.06340,12.41499,2.73775,7.0,0.13542,0.12712,-1.01360,-1.25303,A2011-12-16
2012-12-20,2012-10-31,A,2012,FY,1.420000e+09,2362000000,940000000.0,0.52552,0.16317,0.16812,...,3.26629,19.70690,14.89080,2.70115,5.0,0.14135,0.10570,0.00775,0.00983,A2012-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-18,2016-12-31,ZYXI,2016,FY,1.075000e+06,254000,NaN,0.73582,0.04807,0.00518,...,0.00201,0.38702,-0.10794,NaN,8.0,-0.01951,NaN,0.00651,0.01094,ZYXI2017-04-18
2018-02-28,2017-12-31,ZYXI,2017,FY,9.230000e+06,354000,NaN,0.79434,0.38170,0.31431,...,0.20169,0.66245,0.14110,NaN,8.0,1.40126,NaN,-0.56457,-0.58263,ZYXI2018-02-28
2019-02-26,2018-12-31,ZYXI,2018,FY,1.081800e+07,2967000,NaN,0.81082,0.32491,0.29928,...,0.25508,0.89270,0.26235,NaN,3.0,0.77861,NaN,-0.66195,-0.69055,ZYXI2019-02-26
2020-02-27,2019-12-31,ZYXI,2019,FY,1.184400e+07,0,8949000.0,0.80617,0.24336,0.20874,...,0.25407,1.27434,0.55326,0.25079,5.0,0.50927,0.38774,-1.18541,-1.26875,ZYXI2020-02-27
2021-02-25,2020-12-31,ZYXI,2020,FY,1.182100e+07,0,-304000.0,0.78262,0.12792,0.11325,...,0.23607,2.15059,1.52607,-0.00816,3.0,0.14622,-0.00490,-3.31385,-3.82213,ZYXI2021-02-25

In [21]:
# Fetch share price data set from SimFin
df_prices = sf.load_shareprices(variant='daily', market='us')

# Display
print(df_prices.head())

Dataset "us-shareprices-daily" on disk (2 days old).
- Loading from disk ... Done!
                   SimFinId   Open    Low   High  Close  Adj. Close  Dividend  \
Ticker Date
A      2007-01-03     45846  34.99  34.05  35.48  34.30       22.60       NaN
       2007-01-04     45846  34.30  33.46  34.60  34.41       22.67       NaN
       2007-01-05     45846  34.30  34.00  34.40  34.09       22.46       NaN
       2007-01-08     45846  33.98  33.68  34.08  33.97       22.38       NaN
       2007-01-09     45846  34.08  33.63  34.32  34.01       22.41       NaN

                    Volume  Shares Outstanding
Ticker Date
A      2007-01-03  2574600                 NaN
       2007-01-04  2073700                 NaN
       2007-01-05  2676600                 NaN
       2007-01-08  1557200                 NaN
       2007-01-09  1386200                 NaN

In [22]:
# Display data as a dataframe
pd.DataFrame(df_prices)

                   SimFinId   Open    Low   High  Close  Adj. Close  Dividend  \
Ticker Date
A      2007-01-03     45846  34.99  34.05  35.48  34.30       22.60       NaN
       2007-01-04     45846  34.30  33.46  34.60  34.41       22.67       NaN
       2007-01-05     45846  34.30  34.00  34.40  34.09       22.46       NaN
       2007-01-08     45846  33.98  33.68  34.08  33.97       22.38       NaN
       2007-01-09     45846  34.08  33.63  34.32  34.01       22.41       NaN
...                     ...    ...    ...    ...    ...         ...       ...
ZYXI   2022-02-10    171401   7.40   7.40   7.82   7.52        7.52       NaN
       2022-02-11    171401   7.58   7.23   7.58   7.28        7.28       NaN
       2022-02-14    171401   7.38   7.17   7.49   7.22        7.22       NaN
       2022-02-15    171401   7.41   7.41   7.69   7.46        7.46       NaN
       2022-02-16    171401   7.45   7.16   7.45   7.24        7.24       NaN

                    Volume  Shares Outstanding
Ticker Date
A      2007-01-03  2574600                 NaN
       2007-01-04  2073700                 NaN
       2007-01-05  2676600                 NaN
       2007-01-08  1557200                 NaN
       2007-01-09  1386200                 NaN
...                    ...                 ...
ZYXI   2022-02-10   387807          38257660.0
       2022-02-11   285973          38257660.0
       2022-02-14   298496          38257660.0
       2022-02-15   292834          38257660.0
       2022-02-16   312153          38257660.0

[8184900 rows x 9 columns]

In [23]:
# View prices dataframe information
df_prices.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8184900 entries, ('A', Timestamp('2007-01-03 00:00:00')) to ('ZYXI', Timestamp('2022-02-16 00:00:00'))
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   SimFinId            int64
 1   Open                float64
 2   Low                 float64
 3   High                float64
 4   Close               float64
 5   Adj. Close          float64
 6   Dividend            float64
 7   Volume              int64
 8   Shares Outstanding  float64
dtypes: float64(7), int64(2)
memory usage: 593.5+ MB

In [24]:
# Reset index for share price dataframe
df_prices.reset_index(inplace=True)
df_prices

,Ticker,Date,SimFinId,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
0,A,2007-01-03,45846,34.99,34.05,35.48,34.30,22.60,NaN,2574600,NaN
1,A,2007-01-04,45846,34.30,33.46,34.60,34.41,22.67,NaN,2073700,NaN
2,A,2007-01-05,45846,34.30,34.00,34.40,34.09,22.46,NaN,2676600,NaN
3,A,2007-01-08,45846,33.98,33.68,34.08,33.97,22.38,NaN,1557200,NaN
4,A,2007-01-09,45846,34.08,33.63,34.32,34.01,22.41,NaN,1386200,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8184895,ZYXI,2022-02-10,171401,7.40,7.40,7.82,7.52,7.52,NaN,387807,38257660.0
8184896,ZYXI,2022-02-11,171401,7.58,7.23,7.58,7.28,7.28,NaN,285973,38257660.0
8184897,ZYXI,2022-02-14,171401,7.38,7.17,7.49,7.22,7.22,NaN,298496,38257660.0
8184898,ZYXI,2022-02-15,171401,7.41,7.41,7.69,7.46,7.46,NaN,292834,38257660.0
8184899,ZYXI,2022-02-16,171401,7.45,7.16,7.45,7.24,7.24,NaN,312153,38257660.0

In [27]:
# Delete unnecssary columns
df_prices.drop(columns=['SimFinId', 'Open', 'Low', 'High', 'Close', 'Dividend'], axis=1, inplace=True)
df_prices

        Ticker       Date  Adj. Close   Volume  Shares Outstanding
0            A 2007-01-03       22.60  2574600                 NaN
1            A 2007-01-04       22.67  2073700                 NaN
2            A 2007-01-05       22.46  2676600                 NaN
3            A 2007-01-08       22.38  1557200                 NaN
4            A 2007-01-09       22.41  1386200                 NaN
...        ...        ...         ...      ...                 ...
8184895   ZYXI 2022-02-10        7.52   387807          38257660.0
8184896   ZYXI 2022-02-11        7.28   285973          38257660.0
8184897   ZYXI 2022-02-14        7.22   298496          38257660.0
8184898   ZYXI 2022-02-15        7.46   292834          38257660.0
8184899   ZYXI 2022-02-16        7.24   312153          38257660.0

[8184900 rows x 5 columns]

In [14]:
# df_prices.set_index('Ticker', inplace=True)
# df_prices

,Date,SimFinId,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
Ticker,,,,,,,,,,
A,2007-01-03,45846,34.99,34.05,35.48,34.30,22.60,NaN,2574600,NaN
A,2007-01-04,45846,34.30,33.46,34.60,34.41,22.67,NaN,2073700,NaN
A,2007-01-05,45846,34.30,34.00,34.40,34.09,22.46,NaN,2676600,NaN
A,2007-01-08,45846,33.98,33.68,34.08,33.97,22.38,NaN,1557200,NaN
A,2007-01-09,45846,34.08,33.63,34.32,34.01,22.41,NaN,1386200,NaN
...,...,...,...,...,...,...,...,...,...,...
ZYXI,2022-02-10,171401,7.40,7.40,7.82,7.52,7.52,NaN,387807,38257660.0
ZYXI,2022-02-11,171401,7.58,7.23,7.58,7.28,7.28,NaN,285973,38257660.0
ZYXI,2022-02-14,171401,7.38,7.17,7.49,7.22,7.22,NaN,298496,38257660.0
ZYXI,2022-02-15,171401,7.41,7.41,7.69,7.46,7.46,NaN,292834,38257660.0
ZYXI,2022-02-16,171401,7.45,7.16,7.45,7.24,7.24,NaN,312153,38257660.0

In [15]:
# Create new dataframe for the combined stock price and financial ratios
# combined_df = pd.merge(ratio_df_new, df_prices, how = 'outer', on = ['Ticker'])
# combined_df

MemoryError: Unable to allocate 3.38 GiB for an array with shape (6, 75691103) and data type float64

MemoryError: Unable to allocate 577. MiB for an array with shape (75691103, 1) and data type float64

In [10]:
# Create list of stocks to create portfolios
    # S&P500 top 2 stocks per sector
    # Dow Jones 30
    # Full S&P 500 
# Load the S&P 500 Sector data
df_sp500_sector = pd.read_csv('top_stocks_per_sector_sp500.csv')
df_sp500_sector.head()

                       Name Ticker                  Sector
0     Alphabet Inc. Class A  GOOGL  Communication Services
1     Alphabet Inc. Class C   GOOG  Communication Services
2           Amazon.com Inc.   AMZN  Consumer Discretionary
3                 Tesla Inc   TSLA  Consumer Discretionary
4  Procter & Gamble Company     PG        Consumer Staples

In [11]:
# Load the Dow Jones stock tickers
df_dow = pd.read_csv('dow_30_stock_list.csv')
df_dow.head()

  ticker
0    AXP
1   AMGN
2   AAPL
3     BA
4    CAT

In [43]:
df_dow.rename(columns = {'ticker':'Ticker'}, inplace = True)
df_dow

   Ticker
0     AXP
1    AMGN
2    AAPL
3      BA
4     CAT
5    CSCO
6     CVX
7      GS
8      HD
9     HON
10    IBM
11   INTC
12    JNJ
13     KO
14    JPM
15    MCD
16    MMM
17    MRK
18   MSFT
19    NKE
20     PG
21    TRV
22    UNH
23    CRM
24     VZ
25    CRM
26     VZ
27     VZ
28    WBA
29    WMT
30    DIS
31    DOW

In [13]:
# Load the full list of S&P 500 stocks
df_sp500_full = pd.read_csv('SP500_Constituents_List_Jan_2022.csv')
df_sp500_full.head()

   S.No.                   Name Ticker                  Sector
0    1.0             Apple Inc.   AAPL  Information Technology
1    2.0  Microsoft Corporation   MSFT  Information Technology
2    3.0        Amazon.com Inc.   AMZN  Consumer Discretionary
3    4.0  Alphabet Inc. Class A  GOOGL  Communication Services
4    5.0              Tesla Inc   TSLA  Consumer Discretionary

In [29]:
# Create a dataframe of the portfolio stocks from the financial ratios dataframe
# S&P Sector
df_sp500_sector_financials = pd.merge(ratio_df_new, df_sp500_sector)
df_sp500_sector_financials

,Report Date,Ticker,Fiscal Year,Fiscal Period,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,Operating Margin,Net Profit Margin,...,Equity Per Share,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key,Name,Sector
0,2000-09-30,AAPL,2000,FY,7.040000e+08,300000000,1.060000e+09,0.27133,0.07767,0.09846,...,0.16651,0.04379,NaN,0.16140,0.21766,-5.29403,-6.01129,AAPL2000-12-21,Apple Inc.,Information Technology
1,2001-09-30,AAPL,2001,FY,-2.330000e+08,317000000,-2.690000e+08,0.23028,-0.06209,-0.00466,...,0.16193,-0.01111,NaN,-0.00555,-0.05974,17.24893,12.06907,AAPL2001-11-11,Apple Inc.,Information Technology
2,2002-09-30,AAPL,2002,FY,1.620000e+08,316000000,-1.020000e+08,0.27917,0.00836,0.01132,...,0.16915,-0.00421,7.0,0.01401,-0.02198,-24.82099,-83.77083,AAPL2002-12-19,Apple Inc.,Information Technology
3,2003-09-30,AAPL,2003,FY,1.380000e+08,304000000,1.170000e+08,0.27517,0.00403,0.01112,...,0.17444,0.00483,5.0,0.01449,0.02457,-30.88406,-170.48000,AAPL2003-12-19,Apple Inc.,Information Technology
4,2004-09-30,AAPL,2004,FY,4.860000e+08,0,7.820000e+08,0.27262,0.04058,0.03213,...,0.20968,0.03230,6.0,0.04927,0.14484,-11.24280,-16.26190,AAPL2004-12-03,Apple Inc.,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2016-12-31,XOM,2016,FY,7.292400e+10,42762000000,5.306700e+10,0.38497,0.22873,0.03543,...,40.05865,12.70457,6.0,0.06844,0.17897,0.53624,0.77258,XOM2017-02-22,Exxon Mobil Corporation,Energy
258,2017-12-31,XOM,2017,FY,6.389200e+10,42336000000,4.556200e+10,0.32670,0.18411,0.08247,...,44.09962,10.70536,6.0,0.10591,0.14752,0.61289,0.89000,XOM2018-02-28,Exxon Mobil Corporation,Energy
259,2018-12-31,XOM,2018,FY,7.224700e+10,37796000000,6.078800e+10,0.30959,0.19154,0.07461,...,44.91663,14.23607,7.0,0.11308,0.19845,0.48104,0.64958,XOM2019-02-27,Exxon Mobil Corporation,Energy
260,2019-12-31,XOM,2019,FY,6.105400e+10,46920000000,4.443800e+10,0.29327,0.16455,0.05611,...,44.88290,10.40703,3.0,0.09083,0.13922,0.71791,1.04221,XOM2020-02-26,Exxon Mobil Corporation,Energy
261,2020-12-31,XOM,2020,FY,4.147800e+10,67640000000,1.911800e+10,0.30316,-0.02537,-0.12566,...,36.79466,4.47624,4.0,-0.02552,0.06440,1.52553,-13.96513,XOM2021-02-24,Exxon Mobil Corporation,Energy

In [31]:
df_sp500_sector_financials.shape

(262, 29)

In [32]:
# Add the prices dataframe to the new S&P500 Sector financials dataframe
df_sp500_sector_full = pd.merge( df_prices,df_sp500_sector_financials)
df_sp500_sector_full

,Ticker,Date,Adj. Close,Volume,Shares Outstanding,Report Date,Fiscal Year,Fiscal Period,EBITDA,Total Debt,...,Equity Per Share,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key,Name,Sector
0,AAPL,2007-01-03,2.56,1238320838,NaN,2000-09-30,2000,FY,7.040000e+08,300000000,...,0.16651,0.04379,NaN,0.16140,0.21766,-5.29403,-6.01129,AAPL2000-12-21,Apple Inc.,Information Technology
1,AAPL,2007-01-03,2.56,1238320838,NaN,2001-09-30,2001,FY,-2.330000e+08,317000000,...,0.16193,-0.01111,NaN,-0.00555,-0.05974,17.24893,12.06907,AAPL2001-11-11,Apple Inc.,Information Technology
2,AAPL,2007-01-03,2.56,1238320838,NaN,2002-09-30,2002,FY,1.620000e+08,316000000,...,0.16915,-0.00421,7.0,0.01401,-0.02198,-24.82099,-83.77083,AAPL2002-12-19,Apple Inc.,Information Technology
3,AAPL,2007-01-03,2.56,1238320838,NaN,2003-09-30,2003,FY,1.380000e+08,304000000,...,0.17444,0.00483,5.0,0.01449,0.02457,-30.88406,-170.48000,AAPL2003-12-19,Apple Inc.,Information Technology
4,AAPL,2007-01-03,2.56,1238320838,NaN,2004-09-30,2004,FY,4.860000e+08,0,...,0.20968,0.03230,6.0,0.04927,0.14484,-11.24280,-16.26190,AAPL2004-12-03,Apple Inc.,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950109,XOM,2022-02-16,78.35,21610215,4.233567e+09,2016-12-31,2016,FY,7.292400e+10,42762000000,...,40.05865,12.70457,6.0,0.06844,0.17897,0.53624,0.77258,XOM2017-02-22,Exxon Mobil Corporation,Energy
950110,XOM,2022-02-16,78.35,21610215,4.233567e+09,2017-12-31,2017,FY,6.389200e+10,42336000000,...,44.09962,10.70536,6.0,0.10591,0.14752,0.61289,0.89000,XOM2018-02-28,Exxon Mobil Corporation,Energy
950111,XOM,2022-02-16,78.35,21610215,4.233567e+09,2018-12-31,2018,FY,7.224700e+10,37796000000,...,44.91663,14.23607,7.0,0.11308,0.19845,0.48104,0.64958,XOM2019-02-27,Exxon Mobil Corporation,Energy
950112,XOM,2022-02-16,78.35,21610215,4.233567e+09,2019-12-31,2019,FY,6.105400e+10,46920000000,...,44.88290,10.40703,3.0,0.09083,0.13922,0.71791,1.04221,XOM2020-02-26,Exxon Mobil Corporation,Energy
950113,XOM,2022-02-16,78.35,21610215,4.233567e+09,2020-12-31,2020,FY,4.147800e+10,67640000000,...,36.79466,4.47624,4.0,-0.02552,0.06440,1.52553,-13.96513,XOM2021-02-24,Exxon Mobil Corporation,Energy

In [33]:
df_sp500_sector_full.shape

(950114, 33)

In [36]:
# Create a dataframe of the portfolio stocks from the financial ratios dataframe
# Full S&P 500
df_sp500_all_financials = pd.merge(ratio_df_new, df_sp500_full)
df_sp500_all_financials

,Report Date,Ticker,Fiscal Year,Fiscal Period,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,Operating Margin,Net Profit Margin,...,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key,S.No.,Name,Sector
0,2008-10-31,A,2008,FY,9.960000e+08,2125000000,7.990000e+08,0.55352,0.13769,0.12002,...,2.20110,NaN,0.12207,0.14074,0.69880,0.87547,A2008-12-19,169.0,Agilent Technologies Inc.,Health Care
1,2009-10-31,A,2009,FY,2.090000e+08,2905000000,1.820000e+08,0.51149,0.01049,-0.00692,...,0.52601,NaN,-0.00478,0.02804,1.97129,8.76596,A2009-12-21,169.0,Agilent Technologies Inc.,Health Care
2,2010-10-31,A,2010,FY,7.680000e+08,3691000000,6.100000e+08,0.53821,0.10397,0.12564,...,1.75793,7.0,0.08430,0.07518,1.35677,1.84099,A2010-12-20,169.0,Agilent Technologies Inc.,Health Care
3,2011-10-31,A,2011,FY,1.324000e+09,2185000000,9.500000e+08,0.53348,0.16190,0.15299,...,2.73775,7.0,0.13542,0.12712,-1.01360,-1.25303,A2011-12-16,169.0,Agilent Technologies Inc.,Health Care
4,2012-10-31,A,2012,FY,1.420000e+09,2362000000,9.400000e+08,0.52552,0.16317,0.16812,...,2.70115,5.0,0.14135,0.10570,0.00775,0.00983,A2012-12-20,169.0,Agilent Technologies Inc.,Health Care
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2016-12-31,ZTS,2016,FY,1.637000e+09,4468000000,1.481000e+09,0.65917,0.28580,0.16796,...,2.98760,6.0,0.15447,0.22673,2.28528,2.67788,ZTS2017-02-16,75.0,Zoetis Inc. Class A,Health Care
5302,2017-12-31,ZTS,2017,FY,1.967000e+09,4953000000,2.433000e+09,0.66554,0.32504,0.16280,...,4.96614,8.0,0.14282,0.32475,1.72293,1.96464,ZTS2018-02-15,75.0,Zoetis Inc. Class A,Health Care
5303,2018-12-31,ZTS,2018,FY,2.189000e+09,6452000000,2.285000e+09,0.67193,0.32292,0.24515,...,4.73023,6.0,0.17474,0.23894,2.17040,2.52578,ZTS2019-02-14,75.0,Zoetis Inc. Class A,Health Care
5304,2019-12-31,ZTS,2019,FY,2.430000e+09,6447000000,2.141000e+09,0.68179,0.32236,0.23962,...,4.47788,6.0,0.17717,0.20910,1.85720,2.23637,ZTS2020-02-13,75.0,Zoetis Inc. Class A,Health Care
5305,2020-12-31,ZTS,2020,FY,2.710000e+09,7199000000,2.553000e+09,0.69184,0.33993,0.24539,...,5.36906,7.0,0.16757,0.21199,1.32657,1.58440,ZTS2021-02-16,75.0,Zoetis Inc. Class A,Health Care

In [37]:
df_sp500_all_financials.shape

(5306, 30)

In [38]:
# Add the prices dataframe to the new S&P500 Sector financials dataframe
df_sp500_all_full = pd.merge(df_prices, df_sp500_all_financials)
df_sp500_all_full

,Ticker,Date,Adj. Close,Volume,Shares Outstanding,Report Date,Fiscal Year,Fiscal Period,EBITDA,Total Debt,...,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key,S.No.,Name,Sector
0,A,2007-01-03,22.60,2574600,NaN,2008-10-31,2008,FY,9.960000e+08,2125000000,...,2.20110,NaN,0.12207,0.14074,0.69880,0.87547,A2008-12-19,169.0,Agilent Technologies Inc.,Health Care
1,A,2007-01-03,22.60,2574600,NaN,2009-10-31,2009,FY,2.090000e+08,2905000000,...,0.52601,NaN,-0.00478,0.02804,1.97129,8.76596,A2009-12-21,169.0,Agilent Technologies Inc.,Health Care
2,A,2007-01-03,22.60,2574600,NaN,2010-10-31,2010,FY,7.680000e+08,3691000000,...,1.75793,7.0,0.08430,0.07518,1.35677,1.84099,A2010-12-20,169.0,Agilent Technologies Inc.,Health Care
3,A,2007-01-03,22.60,2574600,NaN,2011-10-31,2011,FY,1.324000e+09,2185000000,...,2.73775,7.0,0.13542,0.12712,-1.01360,-1.25303,A2011-12-16,169.0,Agilent Technologies Inc.,Health Care
4,A,2007-01-03,22.60,2574600,NaN,2012-10-31,2012,FY,1.420000e+09,2362000000,...,2.70115,5.0,0.14135,0.10570,0.00775,0.00983,A2012-12-20,169.0,Agilent Technologies Inc.,Health Care
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19228332,ZTS,2022-02-16,195.09,2897881,474766701.0,2016-12-31,2016,FY,1.637000e+09,4468000000,...,2.98760,6.0,0.15447,0.22673,2.28528,2.67788,ZTS2017-02-16,75.0,Zoetis Inc. Class A,Health Care
19228333,ZTS,2022-02-16,195.09,2897881,474766701.0,2017-12-31,2017,FY,1.967000e+09,4953000000,...,4.96614,8.0,0.14282,0.32475,1.72293,1.96464,ZTS2018-02-15,75.0,Zoetis Inc. Class A,Health Care
19228334,ZTS,2022-02-16,195.09,2897881,474766701.0,2018-12-31,2018,FY,2.189000e+09,6452000000,...,4.73023,6.0,0.17474,0.23894,2.17040,2.52578,ZTS2019-02-14,75.0,Zoetis Inc. Class A,Health Care
19228335,ZTS,2022-02-16,195.09,2897881,474766701.0,2019-12-31,2019,FY,2.430000e+09,6447000000,...,4.47788,6.0,0.17717,0.20910,1.85720,2.23637,ZTS2020-02-13,75.0,Zoetis Inc. Class A,Health Care
19228336,ZTS,2022-02-16,195.09,2897881,474766701.0,2020-12-31,2020,FY,2.710000e+09,7199000000,...,5.36906,7.0,0.16757,0.21199,1.32657,1.58440,ZTS2021-02-16,75.0,Zoetis Inc. Class A,Health Care

In [39]:
df_sp500_all_full.shape

(19228337, 34)

In [46]:
# Create a dataframe of the portfolio stocks from the financial ratios dataframe
# Dow Jones
df_dj_financials = pd.merge(ratio_df_new, df_dow, on='Ticker')
df_dj_financials

,Report Date,Ticker,Fiscal Year,Fiscal Period,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,Operating Margin,Net Profit Margin,...,"Earnings Per Share, Diluted",Sales Per Share,Equity Per Share,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key
0,2000-09-30,AAPL,2000,FY,7.040000e+08,300000000,1.060000e+09,0.27133,0.07767,0.09846,...,0.03157,0.32976,0.16651,0.04379,NaN,0.16140,0.21766,-5.29403,-6.01129,AAPL2000-12-21
1,2001-09-30,AAPL,2001,FY,-2.330000e+08,317000000,-2.690000e+08,0.23028,-0.06209,-0.00466,...,-0.00100,0.22153,0.16193,-0.01111,NaN,-0.00555,-0.05974,17.24893,12.06907,AAPL2001-11-11
2,2002-09-30,AAPL,2002,FY,1.620000e+08,316000000,-1.020000e+08,0.27917,0.00836,0.01132,...,0.00261,0.23719,0.16915,-0.00421,7.0,0.01401,-0.02198,-24.82099,-83.77083,AAPL2002-12-19
3,2003-09-30,AAPL,2003,FY,1.380000e+08,304000000,1.170000e+08,0.27517,0.00403,0.01112,...,0.00277,0.25640,0.17444,0.00483,5.0,0.01449,0.02457,-30.88406,-170.48000,AAPL2003-12-19
4,2004-09-30,AAPL,2004,FY,4.860000e+08,0,7.820000e+08,0.27262,0.04058,0.03213,...,0.01068,0.34199,0.20968,0.03230,6.0,0.04927,0.14484,-11.24280,-16.26190,AAPL2004-12-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,2017-01-31,WMT,2016,FY,3.284400e+10,45938000000,3.521800e+10,0.25648,0.04685,0.02808,...,4.38400,156.68268,25.08804,11.35698,7.0,0.14622,0.25930,1.18959,1.71635,WMT2017-03-31
381,2018-01-31,WMT,2017,FY,3.096600e+10,46487000000,2.913600e+10,0.25372,0.04085,0.01971,...,3.27641,167.05943,25.99967,9.72821,6.0,0.11784,0.21477,1.28305,1.94407,WMT2018-03-30
382,2019-01-31,WMT,2018,FY,3.263500e+10,58033000000,2.738600e+10,0.25098,0.04268,0.01297,...,2.26486,175.62479,24.75111,9.34995,5.0,0.08535,0.18300,1.54163,2.29134,WMT2019-03-28
383,2020-01-31,WMT,2019,FY,3.155500e+10,53958000000,2.575900e+10,0.24689,0.03925,0.02840,...,5.18863,183.84702,26.19965,9.03825,6.0,0.12712,0.15645,1.41001,2.16321,WMT2020-03-20
384,2021-01-31,WMT,2020,FY,3.370000e+10,61780000000,3.848100e+10,0.24830,0.04033,0.02416,...,4.74535,197.51007,28.58531,13.59272,6.0,0.11990,0.23510,1.30680,1.95312,WMT2021-03-19

In [47]:
# Add the prices dataframe to the new S&P500 Sector financials dataframe
df_dj_all = pd.merge(df_prices, df_dj_financials)
df_dj_all

,Ticker,Date,Adj. Close,Volume,Shares Outstanding,Report Date,Fiscal Year,Fiscal Period,EBITDA,Total Debt,...,"Earnings Per Share, Diluted",Sales Per Share,Equity Per Share,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key
0,AAPL,2007-01-03,2.56,1238320838,NaN,2000-09-30,2000,FY,7.040000e+08,300000000,...,0.03157,0.32976,0.16651,0.04379,NaN,0.16140,0.21766,-5.29403,-6.01129,AAPL2000-12-21
1,AAPL,2007-01-03,2.56,1238320838,NaN,2001-09-30,2001,FY,-2.330000e+08,317000000,...,-0.00100,0.22153,0.16193,-0.01111,NaN,-0.00555,-0.05974,17.24893,12.06907,AAPL2001-11-11
2,AAPL,2007-01-03,2.56,1238320838,NaN,2002-09-30,2002,FY,1.620000e+08,316000000,...,0.00261,0.23719,0.16915,-0.00421,7.0,0.01401,-0.02198,-24.82099,-83.77083,AAPL2002-12-19
3,AAPL,2007-01-03,2.56,1238320838,NaN,2003-09-30,2003,FY,1.380000e+08,304000000,...,0.00277,0.25640,0.17444,0.00483,5.0,0.01449,0.02457,-30.88406,-170.48000,AAPL2003-12-19
4,AAPL,2007-01-03,2.56,1238320838,NaN,2004-09-30,2004,FY,4.860000e+08,0,...,0.01068,0.34199,0.20968,0.03230,6.0,0.04927,0.14484,-11.24280,-16.26190,AAPL2004-12-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423438,WMT,2022-02-16,133.53,9361637,2.773878e+09,2017-01-31,2016,FY,3.284400e+10,45938000000,...,4.38400,156.68268,25.08804,11.35698,7.0,0.14622,0.25930,1.18959,1.71635,WMT2017-03-31
1423439,WMT,2022-02-16,133.53,9361637,2.773878e+09,2018-01-31,2017,FY,3.096600e+10,46487000000,...,3.27641,167.05943,25.99967,9.72821,6.0,0.11784,0.21477,1.28305,1.94407,WMT2018-03-30
1423440,WMT,2022-02-16,133.53,9361637,2.773878e+09,2019-01-31,2018,FY,3.263500e+10,58033000000,...,2.26486,175.62479,24.75111,9.34995,5.0,0.08535,0.18300,1.54163,2.29134,WMT2019-03-28
1423441,WMT,2022-02-16,133.53,9361637,2.773878e+09,2020-01-31,2019,FY,3.155500e+10,53958000000,...,5.18863,183.84702,26.19965,9.03825,6.0,0.12712,0.15645,1.41001,2.16321,WMT2020-03-20
1423442,WMT,2022-02-16,133.53,9361637,2.773878e+09,2021-01-31,2020,FY,3.370000e+10,61780000000,...,4.74535,197.51007,28.58531,13.59272,6.0,0.11990,0.23510,1.30680,1.95312,WMT2021-03-19

In [49]:
# Drop columns "Fiscal Year", and "Fiscal Period" from portfolio financial ratios from all merged dataframes
df_sp500_sector_full.drop(['Fiscal Year', 'Fiscal Period'], axis=1, inplace=True)
df_sp500_sector_full

,Ticker,Date,Adj. Close,Volume,Shares Outstanding,Report Date,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,...,Equity Per Share,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key,Name,Sector
0,AAPL,2007-01-03,2.56,1238320838,NaN,2000-09-30,7.040000e+08,300000000,1.060000e+09,0.27133,...,0.16651,0.04379,NaN,0.16140,0.21766,-5.29403,-6.01129,AAPL2000-12-21,Apple Inc.,Information Technology
1,AAPL,2007-01-03,2.56,1238320838,NaN,2001-09-30,-2.330000e+08,317000000,-2.690000e+08,0.23028,...,0.16193,-0.01111,NaN,-0.00555,-0.05974,17.24893,12.06907,AAPL2001-11-11,Apple Inc.,Information Technology
2,AAPL,2007-01-03,2.56,1238320838,NaN,2002-09-30,1.620000e+08,316000000,-1.020000e+08,0.27917,...,0.16915,-0.00421,7.0,0.01401,-0.02198,-24.82099,-83.77083,AAPL2002-12-19,Apple Inc.,Information Technology
3,AAPL,2007-01-03,2.56,1238320838,NaN,2003-09-30,1.380000e+08,304000000,1.170000e+08,0.27517,...,0.17444,0.00483,5.0,0.01449,0.02457,-30.88406,-170.48000,AAPL2003-12-19,Apple Inc.,Information Technology
4,AAPL,2007-01-03,2.56,1238320838,NaN,2004-09-30,4.860000e+08,0,7.820000e+08,0.27262,...,0.20968,0.03230,6.0,0.04927,0.14484,-11.24280,-16.26190,AAPL2004-12-03,Apple Inc.,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950109,XOM,2022-02-16,78.35,21610215,4.233567e+09,2016-12-31,7.292400e+10,42762000000,5.306700e+10,0.38497,...,40.05865,12.70457,6.0,0.06844,0.17897,0.53624,0.77258,XOM2017-02-22,Exxon Mobil Corporation,Energy
950110,XOM,2022-02-16,78.35,21610215,4.233567e+09,2017-12-31,6.389200e+10,42336000000,4.556200e+10,0.32670,...,44.09962,10.70536,6.0,0.10591,0.14752,0.61289,0.89000,XOM2018-02-28,Exxon Mobil Corporation,Energy
950111,XOM,2022-02-16,78.35,21610215,4.233567e+09,2018-12-31,7.224700e+10,37796000000,6.078800e+10,0.30959,...,44.91663,14.23607,7.0,0.11308,0.19845,0.48104,0.64958,XOM2019-02-27,Exxon Mobil Corporation,Energy
950112,XOM,2022-02-16,78.35,21610215,4.233567e+09,2019-12-31,6.105400e+10,46920000000,4.443800e+10,0.29327,...,44.88290,10.40703,3.0,0.09083,0.13922,0.71791,1.04221,XOM2020-02-26,Exxon Mobil Corporation,Energy
950113,XOM,2022-02-16,78.35,21610215,4.233567e+09,2020-12-31,4.147800e+10,67640000000,1.911800e+10,0.30316,...,36.79466,4.47624,4.0,-0.02552,0.06440,1.52553,-13.96513,XOM2021-02-24,Exxon Mobil Corporation,Energy

In [50]:
df_sp500_all_full.drop(['Fiscal Year', 'Fiscal Period'], axis=1, inplace=True)
df_sp500_all_full

,Ticker,Date,Adj. Close,Volume,Shares Outstanding,Report Date,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,...,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key,S.No.,Name,Sector
0,A,2007-01-03,22.60,2574600,NaN,2008-10-31,9.960000e+08,2125000000,7.990000e+08,0.55352,...,2.20110,NaN,0.12207,0.14074,0.69880,0.87547,A2008-12-19,169.0,Agilent Technologies Inc.,Health Care
1,A,2007-01-03,22.60,2574600,NaN,2009-10-31,2.090000e+08,2905000000,1.820000e+08,0.51149,...,0.52601,NaN,-0.00478,0.02804,1.97129,8.76596,A2009-12-21,169.0,Agilent Technologies Inc.,Health Care
2,A,2007-01-03,22.60,2574600,NaN,2010-10-31,7.680000e+08,3691000000,6.100000e+08,0.53821,...,1.75793,7.0,0.08430,0.07518,1.35677,1.84099,A2010-12-20,169.0,Agilent Technologies Inc.,Health Care
3,A,2007-01-03,22.60,2574600,NaN,2011-10-31,1.324000e+09,2185000000,9.500000e+08,0.53348,...,2.73775,7.0,0.13542,0.12712,-1.01360,-1.25303,A2011-12-16,169.0,Agilent Technologies Inc.,Health Care
4,A,2007-01-03,22.60,2574600,NaN,2012-10-31,1.420000e+09,2362000000,9.400000e+08,0.52552,...,2.70115,5.0,0.14135,0.10570,0.00775,0.00983,A2012-12-20,169.0,Agilent Technologies Inc.,Health Care
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19228332,ZTS,2022-02-16,195.09,2897881,474766701.0,2016-12-31,1.637000e+09,4468000000,1.481000e+09,0.65917,...,2.98760,6.0,0.15447,0.22673,2.28528,2.67788,ZTS2017-02-16,75.0,Zoetis Inc. Class A,Health Care
19228333,ZTS,2022-02-16,195.09,2897881,474766701.0,2017-12-31,1.967000e+09,4953000000,2.433000e+09,0.66554,...,4.96614,8.0,0.14282,0.32475,1.72293,1.96464,ZTS2018-02-15,75.0,Zoetis Inc. Class A,Health Care
19228334,ZTS,2022-02-16,195.09,2897881,474766701.0,2018-12-31,2.189000e+09,6452000000,2.285000e+09,0.67193,...,4.73023,6.0,0.17474,0.23894,2.17040,2.52578,ZTS2019-02-14,75.0,Zoetis Inc. Class A,Health Care
19228335,ZTS,2022-02-16,195.09,2897881,474766701.0,2019-12-31,2.430000e+09,6447000000,2.141000e+09,0.68179,...,4.47788,6.0,0.17717,0.20910,1.85720,2.23637,ZTS2020-02-13,75.0,Zoetis Inc. Class A,Health Care
19228336,ZTS,2022-02-16,195.09,2897881,474766701.0,2020-12-31,2.710000e+09,7199000000,2.553000e+09,0.69184,...,5.36906,7.0,0.16757,0.21199,1.32657,1.58440,ZTS2021-02-16,75.0,Zoetis Inc. Class A,Health Care

In [51]:
df_dj_all.drop(['Fiscal Year', 'Fiscal Period'], axis=1, inplace=True)
df_dj_all

,Ticker,Date,Adj. Close,Volume,Shares Outstanding,Report Date,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,...,"Earnings Per Share, Diluted",Sales Per Share,Equity Per Share,Free Cash Flow Per Share,Piotroski F-Score,Return On Invested Capital,Cash Return On Invested Capital,Net Debt / EBITDA,Net Debt / EBIT,unique key
0,AAPL,2007-01-03,2.56,1238320838,NaN,2000-09-30,7.040000e+08,300000000,1.060000e+09,0.27133,...,0.03157,0.32976,0.16651,0.04379,NaN,0.16140,0.21766,-5.29403,-6.01129,AAPL2000-12-21
1,AAPL,2007-01-03,2.56,1238320838,NaN,2001-09-30,-2.330000e+08,317000000,-2.690000e+08,0.23028,...,-0.00100,0.22153,0.16193,-0.01111,NaN,-0.00555,-0.05974,17.24893,12.06907,AAPL2001-11-11
2,AAPL,2007-01-03,2.56,1238320838,NaN,2002-09-30,1.620000e+08,316000000,-1.020000e+08,0.27917,...,0.00261,0.23719,0.16915,-0.00421,7.0,0.01401,-0.02198,-24.82099,-83.77083,AAPL2002-12-19
3,AAPL,2007-01-03,2.56,1238320838,NaN,2003-09-30,1.380000e+08,304000000,1.170000e+08,0.27517,...,0.00277,0.25640,0.17444,0.00483,5.0,0.01449,0.02457,-30.88406,-170.48000,AAPL2003-12-19
4,AAPL,2007-01-03,2.56,1238320838,NaN,2004-09-30,4.860000e+08,0,7.820000e+08,0.27262,...,0.01068,0.34199,0.20968,0.03230,6.0,0.04927,0.14484,-11.24280,-16.26190,AAPL2004-12-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423438,WMT,2022-02-16,133.53,9361637,2.773878e+09,2017-01-31,3.284400e+10,45938000000,3.521800e+10,0.25648,...,4.38400,156.68268,25.08804,11.35698,7.0,0.14622,0.25930,1.18959,1.71635,WMT2017-03-31
1423439,WMT,2022-02-16,133.53,9361637,2.773878e+09,2018-01-31,3.096600e+10,46487000000,2.913600e+10,0.25372,...,3.27641,167.05943,25.99967,9.72821,6.0,0.11784,0.21477,1.28305,1.94407,WMT2018-03-30
1423440,WMT,2022-02-16,133.53,9361637,2.773878e+09,2019-01-31,3.263500e+10,58033000000,2.738600e+10,0.25098,...,2.26486,175.62479,24.75111,9.34995,5.0,0.08535,0.18300,1.54163,2.29134,WMT2019-03-28
1423441,WMT,2022-02-16,133.53,9361637,2.773878e+09,2020-01-31,3.155500e+10,53958000000,2.575900e+10,0.24689,...,5.18863,183.84702,26.19965,9.03825,6.0,0.12712,0.15645,1.41001,2.16321,WMT2020-03-20
1423442,WMT,2022-02-16,133.53,9361637,2.773878e+09,2021-01-31,3.370000e+10,61780000000,3.848100e+10,0.24830,...,4.74535,197.51007,28.58531,13.59272,6.0,0.11990,0.23510,1.30680,1.95312,WMT2021-03-19

In [53]:
# Format the date time
df_sp500_sector_full.index = pd.to_datetime(df_sp500_sector_full.Date)

In [54]:
# Groupby Ticker for the S&P500 Sector dataframe so percent change in share price is for each individual stock
df_sp500_sector_full = df_sp500_sector_full.groupby("Ticker").resample("Q").last()
df_sp500_sector_full

                  Ticker       Date  Adj. Close      Volume  \
Ticker Date
AAPL   2007-03-31   AAPL 2007-03-30        2.84   600558601
       2007-06-30   AAPL 2007-06-29        3.73  1137842738
       2007-09-30   AAPL 2007-09-28        4.69   615101815
       2007-12-31   AAPL 2007-12-31        6.06   539333739
       2008-03-31   AAPL 2008-03-31        4.39   768065968
...                  ...        ...         ...         ...
XOM    2021-03-31    XOM 2021-03-31       52.89    23686451
       2021-06-30    XOM 2021-06-30       60.62    17875493
       2021-09-30    XOM 2021-09-30       57.39    31289624
       2021-12-31    XOM 2021-12-31       60.52    14000452
       2022-03-31    XOM 2022-02-16       78.35    21610215

                   Shares Outstanding Report Date        EBITDA    Total Debt  \
Ticker Date
AAPL   2007-03-31                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-06-30                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-09-30                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-12-31                 NaN  2021-09-30  1.202330e+11  124719000000
       2008-03-31                 NaN  2021-09-30  1.202330e+11  124719000000
...                               ...         ...           ...           ...
XOM    2021-03-31        4.233539e+09  2020-12-31  4.147800e+10   67640000000
       2021-06-30        4.234000e+09  2020-12-31  4.147800e+10   67640000000
       2021-09-30        4.233567e+09  2020-12-31  4.147800e+10   67640000000
       2021-12-31        4.233567e+09  2020-12-31  4.147800e+10   67640000000
       2022-03-31        4.233567e+09  2020-12-31  4.147800e+10   67640000000

                   Free Cash Flow  Gross Profit Margin  ...  Equity Per Share  \
Ticker Date                                             ...
AAPL   2007-03-31    1.187640e+11              0.41779  ...           3.74548
       2007-06-30    1.187640e+11              0.41779  ...           3.74548
       2007-09-30    1.187640e+11              0.41779  ...           3.74548
       2007-12-31    1.187640e+11              0.41779  ...           3.74548
       2008-03-31    1.187640e+11              0.41779  ...           3.74548
...                           ...                  ...  ...               ...
XOM    2021-03-31    1.911800e+10              0.30316  ...          36.79466
       2021-06-30    1.911800e+10              0.30316  ...          36.79466
       2021-09-30    1.911800e+10              0.30316  ...          36.79466
       2021-12-31    1.911800e+10              0.30316  ...          36.79466
       2022-03-31    1.911800e+10              0.30316  ...          36.79466

                   Free Cash Flow Per Share  Piotroski F-Score  \
Ticker Date
AAPL   2007-03-31                   7.05069                7.0
       2007-06-30                   7.05069                7.0
       2007-09-30                   7.05069                7.0
       2007-12-31                   7.05069                7.0
       2008-03-31                   7.05069                7.0
...                                     ...                ...
XOM    2021-03-31                   4.47624                4.0
       2021-06-30                   4.47624                4.0
       2021-09-30                   4.47624                4.0
       2021-12-31                   4.47624                4.0
       2022-03-31                   4.47624                4.0

                   Return On Invested Capital  \
Ticker Date
AAPL   2007-03-31                     0.45264
       2007-06-30                     0.45264
       2007-09-30                     0.45264
       2007-12-31                     0.45264
       2008-03-31                     0.45264
...                                       ...
XOM    2021-03-31                    -0.02552
       2021-06-30                    -0.02552
       2021-09-30                    -0.02552
       2021-12-31                    -0.02552
       2022-03-31                    -0.02552

                   Cash Return On Invested Capital  Net Debt / EBITDA  \
Ticker Date
AAPL   2007-03-31                          0.49252            0.51633
       2007-06-30                          0.49252            0.51633
       2007-09-30                          0.49252            0.51633
       2007-12-31                          0.49252            0.51633
       2008-03-31                          0.49252            0.51633
...                                            ...                ...
XOM    2021-03-31                          0.06440            1.52553
       2021-06-30                          0.06440            1.52553
       2021-09-30                          0.06440            1.52553
       2021-12-31                          0.06440            1.52553
       2022-03-31                          0.06440            1.52553

                   Net Debt / EBIT      unique key                     Name  \
Ticker Date
AAPL   2007-03-31          0.56981  AAPL2021-10-29               Apple Inc.
       2007-06-30          0.56981  AAPL2021-10-29               Apple Inc.
       2007-09-30          0.56981  AAPL2021-10-29               Apple Inc.
       2007-12-31          0.56981  AAPL2021-10-29               Apple Inc.
       2008-03-31          0.56981  AAPL2021-10-29               Apple Inc.
...                            ...             ...                      ...
XOM    2021-03-31        -13.96513   XOM2021-02-24  Exxon Mobil Corporation
       2021-06-30        -13.96513   XOM2021-02-24  Exxon Mobil Corporation
       2021-09-30        -13.96513   XOM2021-02-24  Exxon Mobil Corporation
       2021-12-31        -13.96513   XOM2021-02-24  Exxon Mobil Corporation
       2022-03-31        -13.96513   XOM2021-02-24  Exxon Mobil Corporation

                                   Sector
Ticker Date
AAPL   2007-03-31  Information Technology
       2007-06-30  Information Technology
       2007-09-30  Information Technology
       2007-12-31  Information Technology
       2008-03-31  Information Technology
...                                   ...
XOM    2021-03-31                  Energy
       2021-06-30                  Energy
       2021-09-30                  Energy
       2021-12-31                  Energy
       2022-03-31                  Energy

[1071 rows x 31 columns]

In [55]:
#Calculate percentage in stock price
df_sp500_sector_full['returns'] = df_sp500_sector_full["Adj. Close"].groupby('Ticker').pct_change().shift(-1)
df_sp500_sector_full

                  Ticker       Date  Adj. Close      Volume  \
Ticker Date
AAPL   2007-03-31   AAPL 2007-03-30        2.84   600558601
       2007-06-30   AAPL 2007-06-29        3.73  1137842738
       2007-09-30   AAPL 2007-09-28        4.69   615101815
       2007-12-31   AAPL 2007-12-31        6.06   539333739
       2008-03-31   AAPL 2008-03-31        4.39   768065968
...                  ...        ...         ...         ...
XOM    2021-03-31    XOM 2021-03-31       52.89    23686451
       2021-06-30    XOM 2021-06-30       60.62    17875493
       2021-09-30    XOM 2021-09-30       57.39    31289624
       2021-12-31    XOM 2021-12-31       60.52    14000452
       2022-03-31    XOM 2022-02-16       78.35    21610215

                   Shares Outstanding Report Date        EBITDA    Total Debt  \
Ticker Date
AAPL   2007-03-31                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-06-30                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-09-30                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-12-31                 NaN  2021-09-30  1.202330e+11  124719000000
       2008-03-31                 NaN  2021-09-30  1.202330e+11  124719000000
...                               ...         ...           ...           ...
XOM    2021-03-31        4.233539e+09  2020-12-31  4.147800e+10   67640000000
       2021-06-30        4.234000e+09  2020-12-31  4.147800e+10   67640000000
       2021-09-30        4.233567e+09  2020-12-31  4.147800e+10   67640000000
       2021-12-31        4.233567e+09  2020-12-31  4.147800e+10   67640000000
       2022-03-31        4.233567e+09  2020-12-31  4.147800e+10   67640000000

                   Free Cash Flow  Gross Profit Margin  ...  \
Ticker Date                                             ...
AAPL   2007-03-31    1.187640e+11              0.41779  ...
       2007-06-30    1.187640e+11              0.41779  ...
       2007-09-30    1.187640e+11              0.41779  ...
       2007-12-31    1.187640e+11              0.41779  ...
       2008-03-31    1.187640e+11              0.41779  ...
...                           ...                  ...  ...
XOM    2021-03-31    1.911800e+10              0.30316  ...
       2021-06-30    1.911800e+10              0.30316  ...
       2021-09-30    1.911800e+10              0.30316  ...
       2021-12-31    1.911800e+10              0.30316  ...
       2022-03-31    1.911800e+10              0.30316  ...

                   Free Cash Flow Per Share  Piotroski F-Score  \
Ticker Date
AAPL   2007-03-31                   7.05069                7.0
       2007-06-30                   7.05069                7.0
       2007-09-30                   7.05069                7.0
       2007-12-31                   7.05069                7.0
       2008-03-31                   7.05069                7.0
...                                     ...                ...
XOM    2021-03-31                   4.47624                4.0
       2021-06-30                   4.47624                4.0
       2021-09-30                   4.47624                4.0
       2021-12-31                   4.47624                4.0
       2022-03-31                   4.47624                4.0

                   Return On Invested Capital  \
Ticker Date
AAPL   2007-03-31                     0.45264
       2007-06-30                     0.45264
       2007-09-30                     0.45264
       2007-12-31                     0.45264
       2008-03-31                     0.45264
...                                       ...
XOM    2021-03-31                    -0.02552
       2021-06-30                    -0.02552
       2021-09-30                    -0.02552
       2021-12-31                    -0.02552
       2022-03-31                    -0.02552

                   Cash Return On Invested Capital  Net Debt / EBITDA  \
Ticker Date
AAPL   2007-03-31                          0.49252            0.51633
       2007-06-30                          0.49252            0.51633
       2007-09-30                          0.49252            0.51633
       2007-12-31                          0.49252            0.51633
       2008-03-31                          0.49252            0.51633
...                                            ...                ...
XOM    2021-03-31                          0.06440            1.52553
       2021-06-30                          0.06440            1.52553
       2021-09-30                          0.06440            1.52553
       2021-12-31                          0.06440            1.52553
       2022-03-31                          0.06440            1.52553

                   Net Debt / EBIT      unique key                     Name  \
Ticker Date
AAPL   2007-03-31          0.56981  AAPL2021-10-29               Apple Inc.
       2007-06-30          0.56981  AAPL2021-10-29               Apple Inc.
       2007-09-30          0.56981  AAPL2021-10-29               Apple Inc.
       2007-12-31          0.56981  AAPL2021-10-29               Apple Inc.
       2008-03-31          0.56981  AAPL2021-10-29               Apple Inc.
...                            ...             ...                      ...
XOM    2021-03-31        -13.96513   XOM2021-02-24  Exxon Mobil Corporation
       2021-06-30        -13.96513   XOM2021-02-24  Exxon Mobil Corporation
       2021-09-30        -13.96513   XOM2021-02-24  Exxon Mobil Corporation
       2021-12-31        -13.96513   XOM2021-02-24  Exxon Mobil Corporation
       2022-03-31        -13.96513   XOM2021-02-24  Exxon Mobil Corporation

                                   Sector   returns
Ticker Date
AAPL   2007-03-31  Information Technology  0.313380
       2007-06-30  Information Technology  0.257373
       2007-09-30  Information Technology  0.292111
       2007-12-31  Information Technology -0.275578
       2008-03-31  Information Technology  0.166287
...                                   ...       ...
XOM    2021-03-31                  Energy  0.146152
       2021-06-30                  Energy -0.053283
       2021-09-30                  Energy  0.054539
       2021-12-31                  Energy  0.294613
       2022-03-31                  Energy       NaN

[1071 rows x 32 columns]

In [56]:
# Format the date time for the whole S&P500 dataframe
df_sp500_all_full.index = pd.to_datetime(df_sp500_all_full.Date)

In [58]:
# Groupby Ticker for the S&P500 dataframe so percent change in share price is for each individual stock
df_sp500_all_full = df_sp500_all_full.groupby("Ticker").resample("Q").last()
df_sp500_all_full

                  Ticker       Date  Adj. Close   Volume  Shares Outstanding  \
Ticker Date
A      2007-03-31      A 2007-03-30       22.20  2560800                 NaN
       2007-06-30      A 2007-06-29       25.33  1870000                 NaN
       2007-09-30      A 2007-09-28       24.30  2267100                 NaN
       2007-12-31      A 2007-12-31       24.21  2034900                 NaN
       2008-03-31      A 2008-03-31       19.66  2249200                 NaN
...                  ...        ...         ...      ...                 ...
ZTS    2021-03-31    ZTS 2021-03-31      156.61  1564136         474973405.0
       2021-06-30    ZTS 2021-06-30      185.61  1203613         474766701.0
       2021-09-30    ZTS 2021-09-30      193.60  1785791         474766701.0
       2021-12-31    ZTS 2021-12-31      243.64  1066181         474766701.0
       2022-03-31    ZTS 2022-02-16      195.09  2897881         474766701.0

                  Report Date        EBITDA  Total Debt  Free Cash Flow  \
Ticker Date
A      2007-03-31  2021-10-31  1.668000e+09  2729000000    1.529000e+09
       2007-06-30  2021-10-31  1.668000e+09  2729000000    1.529000e+09
       2007-09-30  2021-10-31  1.668000e+09  2729000000    1.529000e+09
       2007-12-31  2021-10-31  1.668000e+09  2729000000    1.529000e+09
       2008-03-31  2021-10-31  1.668000e+09  2729000000    1.529000e+09
...                       ...           ...         ...             ...
ZTS    2021-03-31  2020-12-31  2.710000e+09  7199000000    2.553000e+09
       2021-06-30  2020-12-31  2.710000e+09  7199000000    2.553000e+09
       2021-09-30  2020-12-31  2.710000e+09  7199000000    2.553000e+09
       2021-12-31  2020-12-31  2.710000e+09  7199000000    2.553000e+09
       2022-03-31  2020-12-31  2.710000e+09  7199000000    2.553000e+09

                   Gross Profit Margin  ...  Free Cash Flow Per Share  \
Ticker Date                             ...
A      2007-03-31              0.53917  ...                   5.01311
       2007-06-30              0.53917  ...                   5.01311
       2007-09-30              0.53917  ...                   5.01311
       2007-12-31              0.53917  ...                   5.01311
       2008-03-31              0.53917  ...                   5.01311
...                                ...  ...                       ...
ZTS    2021-03-31              0.69184  ...                   5.36906
       2021-06-30              0.69184  ...                   5.36906
       2021-09-30              0.69184  ...                   5.36906
       2021-12-31              0.69184  ...                   5.36906
       2022-03-31              0.69184  ...                   5.36906

                   Piotroski F-Score  Return On Invested Capital  \
Ticker Date
A      2007-03-31                7.0                     0.16072
       2007-06-30                7.0                     0.16072
       2007-09-30                7.0                     0.16072
       2007-12-31                7.0                     0.16072
       2008-03-31                7.0                     0.16072
...                              ...                         ...
ZTS    2021-03-31                7.0                     0.16757
       2021-06-30                7.0                     0.16757
       2021-09-30                7.0                     0.16757
       2021-12-31                7.0                     0.16757
       2022-03-31                7.0                     0.16757

                   Cash Return On Invested Capital  Net Debt / EBITDA  \
Ticker Date
A      2007-03-31                          0.16995            0.69185
       2007-06-30                          0.16995            0.69185
       2007-09-30                          0.16995            0.69185
       2007-12-31                          0.16995            0.69185
       2008-03-31                          0.16995            0.69185
...                                            ...                ...
ZTS    2021-03-31                          0.21199            1.32657
       2021-06-30                          0.21199            1.32657
       2021-09-30                          0.21199            1.32657
       2021-12-31                          0.21199            1.32657
       2022-03-31                          0.21199            1.32657

                   Net Debt / EBIT     unique key  S.No.  \
Ticker Date
A      2007-03-31          0.85672    A2021-12-17  169.0
       2007-06-30          0.85672    A2021-12-17  169.0
       2007-09-30          0.85672    A2021-12-17  169.0
       2007-12-31          0.85672    A2021-12-17  169.0
       2008-03-31          0.85672    A2021-12-17  169.0
...                            ...            ...    ...
ZTS    2021-03-31          1.58440  ZTS2021-02-16   75.0
       2021-06-30          1.58440  ZTS2021-02-16   75.0
       2021-09-30          1.58440  ZTS2021-02-16   75.0
       2021-12-31          1.58440  ZTS2021-02-16   75.0
       2022-03-31          1.58440  ZTS2021-02-16   75.0

                                        Name       Sector
Ticker Date
A      2007-03-31  Agilent Technologies Inc.  Health Care
       2007-06-30  Agilent Technologies Inc.  Health Care
       2007-09-30  Agilent Technologies Inc.  Health Care
       2007-12-31  Agilent Technologies Inc.  Health Care
       2008-03-31  Agilent Technologies Inc.  Health Care
...                                      ...          ...
ZTS    2021-03-31        Zoetis Inc. Class A  Health Care
       2021-06-30        Zoetis Inc. Class A  Health Care
       2021-09-30        Zoetis Inc. Class A  Health Care
       2021-12-31        Zoetis Inc. Class A  Health Care
       2022-03-31        Zoetis Inc. Class A  Health Care

[24984 rows x 32 columns]

In [59]:
#Calculate percentage in stock price
df_sp500_all_full['returns'] = df_sp500_all_full["Adj. Close"].groupby('Ticker').pct_change().shift(-1)
df_sp500_all_full

                  Ticker       Date  Adj. Close   Volume  Shares Outstanding  \
Ticker Date
A      2007-03-31      A 2007-03-30       22.20  2560800                 NaN
       2007-06-30      A 2007-06-29       25.33  1870000                 NaN
       2007-09-30      A 2007-09-28       24.30  2267100                 NaN
       2007-12-31      A 2007-12-31       24.21  2034900                 NaN
       2008-03-31      A 2008-03-31       19.66  2249200                 NaN
...                  ...        ...         ...      ...                 ...
ZTS    2021-03-31    ZTS 2021-03-31      156.61  1564136         474973405.0
       2021-06-30    ZTS 2021-06-30      185.61  1203613         474766701.0
       2021-09-30    ZTS 2021-09-30      193.60  1785791         474766701.0
       2021-12-31    ZTS 2021-12-31      243.64  1066181         474766701.0
       2022-03-31    ZTS 2022-02-16      195.09  2897881         474766701.0

                  Report Date        EBITDA  Total Debt  Free Cash Flow  \
Ticker Date
A      2007-03-31  2021-10-31  1.668000e+09  2729000000    1.529000e+09
       2007-06-30  2021-10-31  1.668000e+09  2729000000    1.529000e+09
       2007-09-30  2021-10-31  1.668000e+09  2729000000    1.529000e+09
       2007-12-31  2021-10-31  1.668000e+09  2729000000    1.529000e+09
       2008-03-31  2021-10-31  1.668000e+09  2729000000    1.529000e+09
...                       ...           ...         ...             ...
ZTS    2021-03-31  2020-12-31  2.710000e+09  7199000000    2.553000e+09
       2021-06-30  2020-12-31  2.710000e+09  7199000000    2.553000e+09
       2021-09-30  2020-12-31  2.710000e+09  7199000000    2.553000e+09
       2021-12-31  2020-12-31  2.710000e+09  7199000000    2.553000e+09
       2022-03-31  2020-12-31  2.710000e+09  7199000000    2.553000e+09

                   Gross Profit Margin  ...  Piotroski F-Score  \
Ticker Date                             ...
A      2007-03-31              0.53917  ...                7.0
       2007-06-30              0.53917  ...                7.0
       2007-09-30              0.53917  ...                7.0
       2007-12-31              0.53917  ...                7.0
       2008-03-31              0.53917  ...                7.0
...                                ...  ...                ...
ZTS    2021-03-31              0.69184  ...                7.0
       2021-06-30              0.69184  ...                7.0
       2021-09-30              0.69184  ...                7.0
       2021-12-31              0.69184  ...                7.0
       2022-03-31              0.69184  ...                7.0

                   Return On Invested Capital  \
Ticker Date
A      2007-03-31                     0.16072
       2007-06-30                     0.16072
       2007-09-30                     0.16072
       2007-12-31                     0.16072
       2008-03-31                     0.16072
...                                       ...
ZTS    2021-03-31                     0.16757
       2021-06-30                     0.16757
       2021-09-30                     0.16757
       2021-12-31                     0.16757
       2022-03-31                     0.16757

                   Cash Return On Invested Capital  Net Debt / EBITDA  \
Ticker Date
A      2007-03-31                          0.16995            0.69185
       2007-06-30                          0.16995            0.69185
       2007-09-30                          0.16995            0.69185
       2007-12-31                          0.16995            0.69185
       2008-03-31                          0.16995            0.69185
...                                            ...                ...
ZTS    2021-03-31                          0.21199            1.32657
       2021-06-30                          0.21199            1.32657
       2021-09-30                          0.21199            1.32657
       2021-12-31                          0.21199            1.32657
       2022-03-31                          0.21199            1.32657

                   Net Debt / EBIT     unique key  S.No.  \
Ticker Date
A      2007-03-31          0.85672    A2021-12-17  169.0
       2007-06-30          0.85672    A2021-12-17  169.0
       2007-09-30          0.85672    A2021-12-17  169.0
       2007-12-31          0.85672    A2021-12-17  169.0
       2008-03-31          0.85672    A2021-12-17  169.0
...                            ...            ...    ...
ZTS    2021-03-31          1.58440  ZTS2021-02-16   75.0
       2021-06-30          1.58440  ZTS2021-02-16   75.0
       2021-09-30          1.58440  ZTS2021-02-16   75.0
       2021-12-31          1.58440  ZTS2021-02-16   75.0
       2022-03-31          1.58440  ZTS2021-02-16   75.0

                                        Name       Sector   returns
Ticker Date
A      2007-03-31  Agilent Technologies Inc.  Health Care  0.140991
       2007-06-30  Agilent Technologies Inc.  Health Care -0.040663
       2007-09-30  Agilent Technologies Inc.  Health Care -0.003704
       2007-12-31  Agilent Technologies Inc.  Health Care -0.187939
       2008-03-31  Agilent Technologies Inc.  Health Care  0.191251
...                                      ...          ...       ...
ZTS    2021-03-31        Zoetis Inc. Class A  Health Care  0.185173
       2021-06-30        Zoetis Inc. Class A  Health Care  0.043047
       2021-09-30        Zoetis Inc. Class A  Health Care  0.258471
       2021-12-31        Zoetis Inc. Class A  Health Care -0.199269
       2022-03-31        Zoetis Inc. Class A  Health Care       NaN

[24984 rows x 33 columns]

In [60]:
# Format the date time for the Dow Jones dataframe
df_dj_all.index = pd.to_datetime(df_dj_all.Date)

In [61]:
# Groupby Ticker for the Dow Jones dataframe so percent change in share price is for each individual stock
df_dj_all = df_dj_all.groupby("Ticker").resample("Q").last()
df_dj_all

                  Ticker       Date  Adj. Close      Volume  \
Ticker Date
AAPL   2007-03-31   AAPL 2007-03-30        2.84   600558601
       2007-06-30   AAPL 2007-06-29        3.73  1137842738
       2007-09-30   AAPL 2007-09-28        4.69   615101815
       2007-12-31   AAPL 2007-12-31        6.06   539333739
       2008-03-31   AAPL 2008-03-31        4.39   768065968
...                  ...        ...         ...         ...
WMT    2021-03-31    WMT 2021-03-31      134.27     8182012
       2021-06-30    WMT 2021-06-30      139.95    15170351
       2021-09-30    WMT 2021-09-30      138.83     7490235
       2021-12-31    WMT 2021-12-31      144.69     5841647
       2022-03-31    WMT 2022-02-16      133.53     9361637

                   Shares Outstanding Report Date        EBITDA    Total Debt  \
Ticker Date
AAPL   2007-03-31                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-06-30                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-09-30                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-12-31                 NaN  2021-09-30  1.202330e+11  124719000000
       2008-03-31                 NaN  2021-09-30  1.202330e+11  124719000000
...                               ...         ...           ...           ...
WMT    2021-03-31        2.817072e+09  2021-01-31  3.370000e+10   61780000000
       2021-06-30        2.802146e+09  2021-01-31  3.370000e+10   61780000000
       2021-09-30        2.788498e+09  2021-01-31  3.370000e+10   61780000000
       2021-12-31        2.773878e+09  2021-01-31  3.370000e+10   61780000000
       2022-03-31        2.773878e+09  2021-01-31  3.370000e+10   61780000000

                   Free Cash Flow  Gross Profit Margin  ...  \
Ticker Date                                             ...
AAPL   2007-03-31    1.187640e+11              0.41779  ...
       2007-06-30    1.187640e+11              0.41779  ...
       2007-09-30    1.187640e+11              0.41779  ...
       2007-12-31    1.187640e+11              0.41779  ...
       2008-03-31    1.187640e+11              0.41779  ...
...                           ...                  ...  ...
WMT    2021-03-31    3.848100e+10              0.24830  ...
       2021-06-30    3.848100e+10              0.24830  ...
       2021-09-30    3.848100e+10              0.24830  ...
       2021-12-31    3.848100e+10              0.24830  ...
       2022-03-31    3.848100e+10              0.24830  ...

                   Earnings Per Share, Diluted  Sales Per Share  \
Ticker Date
AAPL   2007-03-31                      5.56240         21.71756
       2007-06-30                      5.56240         21.71756
       2007-09-30                      5.56240         21.71756
       2007-12-31                      5.56240         21.71756
       2008-03-31                      5.56240         21.71756
...                                        ...              ...
WMT    2021-03-31                      4.74535        197.51007
       2021-06-30                      4.74535        197.51007
       2021-09-30                      4.74535        197.51007
       2021-12-31                      4.74535        197.51007
       2022-03-31                      4.74535        197.51007

                   Equity Per Share  Free Cash Flow Per Share  \
Ticker Date
AAPL   2007-03-31           3.74548                   7.05069
       2007-06-30           3.74548                   7.05069
       2007-09-30           3.74548                   7.05069
       2007-12-31           3.74548                   7.05069
       2008-03-31           3.74548                   7.05069
...                             ...                       ...
WMT    2021-03-31          28.58531                  13.59272
       2021-06-30          28.58531                  13.59272
       2021-09-30          28.58531                  13.59272
       2021-12-31          28.58531                  13.59272
       2022-03-31          28.58531                  13.59272

                   Piotroski F-Score  Return On Invested Capital  \
Ticker Date
AAPL   2007-03-31                7.0                     0.45264
       2007-06-30                7.0                     0.45264
       2007-09-30                7.0                     0.45264
       2007-12-31                7.0                     0.45264
       2008-03-31                7.0                     0.45264
...                              ...                         ...
WMT    2021-03-31                6.0                     0.11990
       2021-06-30                6.0                     0.11990
       2021-09-30                6.0                     0.11990
       2021-12-31                6.0                     0.11990
       2022-03-31                6.0                     0.11990

                   Cash Return On Invested Capital  Net Debt / EBITDA  \
Ticker Date
AAPL   2007-03-31                          0.49252            0.51633
       2007-06-30                          0.49252            0.51633
       2007-09-30                          0.49252            0.51633
       2007-12-31                          0.49252            0.51633
       2008-03-31                          0.49252            0.51633
...                                            ...                ...
WMT    2021-03-31                          0.23510            1.30680
       2021-06-30                          0.23510            1.30680
       2021-09-30                          0.23510            1.30680
       2021-12-31                          0.23510            1.30680
       2022-03-31                          0.23510            1.30680

                   Net Debt / EBIT      unique key
Ticker Date
AAPL   2007-03-31          0.56981  AAPL2021-10-29
       2007-06-30          0.56981  AAPL2021-10-29
       2007-09-30          0.56981  AAPL2021-10-29
       2007-12-31          0.56981  AAPL2021-10-29
       2008-03-31          0.56981  AAPL2021-10-29
...                            ...             ...
WMT    2021-03-31          1.95312   WMT2021-03-19
       2021-06-30          1.95312   WMT2021-03-19
       2021-09-30          1.95312   WMT2021-03-19
       2021-12-31          1.95312   WMT2021-03-19
       2022-03-31          1.95312   WMT2021-03-19

[1477 rows x 29 columns]

In [62]:
#Calculate percentage in stock price
df_dj_all['returns'] = df_dj_all["Adj. Close"].groupby('Ticker').pct_change().shift(-1)
df_dj_all

                  Ticker       Date  Adj. Close      Volume  \
Ticker Date
AAPL   2007-03-31   AAPL 2007-03-30        2.84   600558601
       2007-06-30   AAPL 2007-06-29        3.73  1137842738
       2007-09-30   AAPL 2007-09-28        4.69   615101815
       2007-12-31   AAPL 2007-12-31        6.06   539333739
       2008-03-31   AAPL 2008-03-31        4.39   768065968
...                  ...        ...         ...         ...
WMT    2021-03-31    WMT 2021-03-31      134.27     8182012
       2021-06-30    WMT 2021-06-30      139.95    15170351
       2021-09-30    WMT 2021-09-30      138.83     7490235
       2021-12-31    WMT 2021-12-31      144.69     5841647
       2022-03-31    WMT 2022-02-16      133.53     9361637

                   Shares Outstanding Report Date        EBITDA    Total Debt  \
Ticker Date
AAPL   2007-03-31                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-06-30                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-09-30                 NaN  2021-09-30  1.202330e+11  124719000000
       2007-12-31                 NaN  2021-09-30  1.202330e+11  124719000000
       2008-03-31                 NaN  2021-09-30  1.202330e+11  124719000000
...                               ...         ...           ...           ...
WMT    2021-03-31        2.817072e+09  2021-01-31  3.370000e+10   61780000000
       2021-06-30        2.802146e+09  2021-01-31  3.370000e+10   61780000000
       2021-09-30        2.788498e+09  2021-01-31  3.370000e+10   61780000000
       2021-12-31        2.773878e+09  2021-01-31  3.370000e+10   61780000000
       2022-03-31        2.773878e+09  2021-01-31  3.370000e+10   61780000000

                   Free Cash Flow  Gross Profit Margin  ...  Sales Per Share  \
Ticker Date                                             ...
AAPL   2007-03-31    1.187640e+11              0.41779  ...         21.71756
       2007-06-30    1.187640e+11              0.41779  ...         21.71756
       2007-09-30    1.187640e+11              0.41779  ...         21.71756
       2007-12-31    1.187640e+11              0.41779  ...         21.71756
       2008-03-31    1.187640e+11              0.41779  ...         21.71756
...                           ...                  ...  ...              ...
WMT    2021-03-31    3.848100e+10              0.24830  ...        197.51007
       2021-06-30    3.848100e+10              0.24830  ...        197.51007
       2021-09-30    3.848100e+10              0.24830  ...        197.51007
       2021-12-31    3.848100e+10              0.24830  ...        197.51007
       2022-03-31    3.848100e+10              0.24830  ...        197.51007

                   Equity Per Share  Free Cash Flow Per Share  \
Ticker Date
AAPL   2007-03-31           3.74548                   7.05069
       2007-06-30           3.74548                   7.05069
       2007-09-30           3.74548                   7.05069
       2007-12-31           3.74548                   7.05069
       2008-03-31           3.74548                   7.05069
...                             ...                       ...
WMT    2021-03-31          28.58531                  13.59272
       2021-06-30          28.58531                  13.59272
       2021-09-30          28.58531                  13.59272
       2021-12-31          28.58531                  13.59272
       2022-03-31          28.58531                  13.59272

                   Piotroski F-Score  Return On Invested Capital  \
Ticker Date
AAPL   2007-03-31                7.0                     0.45264
       2007-06-30                7.0                     0.45264
       2007-09-30                7.0                     0.45264
       2007-12-31                7.0                     0.45264
       2008-03-31                7.0                     0.45264
...                              ...                         ...
WMT    2021-03-31                6.0                     0.11990
       2021-06-30                6.0                     0.11990
       2021-09-30                6.0                     0.11990
       2021-12-31                6.0                     0.11990
       2022-03-31                6.0                     0.11990

                   Cash Return On Invested Capital  Net Debt / EBITDA  \
Ticker Date
AAPL   2007-03-31                          0.49252            0.51633
       2007-06-30                          0.49252            0.51633
       2007-09-30                          0.49252            0.51633
       2007-12-31                          0.49252            0.51633
       2008-03-31                          0.49252            0.51633
...                                            ...                ...
WMT    2021-03-31                          0.23510            1.30680
       2021-06-30                          0.23510            1.30680
       2021-09-30                          0.23510            1.30680
       2021-12-31                          0.23510            1.30680
       2022-03-31                          0.23510            1.30680

                   Net Debt / EBIT      unique key   returns
Ticker Date
AAPL   2007-03-31          0.56981  AAPL2021-10-29  0.313380
       2007-06-30          0.56981  AAPL2021-10-29  0.257373
       2007-09-30          0.56981  AAPL2021-10-29  0.292111
       2007-12-31          0.56981  AAPL2021-10-29 -0.275578
       2008-03-31          0.56981  AAPL2021-10-29  0.166287
...                            ...             ...       ...
WMT    2021-03-31          1.95312   WMT2021-03-19  0.042303
       2021-06-30          1.95312   WMT2021-03-19 -0.008003
       2021-09-30          1.95312   WMT2021-03-19  0.042210
       2021-12-31          1.95312   WMT2021-03-19 -0.077130
       2022-03-31          1.95312   WMT2021-03-19       NaN

[1477 rows x 30 columns]